registry=https://registry.yarnpkg.com/

@toilet-paper-games:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPMRC_TOKEN}
always-auth=true

# Get your token from (https://github.com/settings/tokens)
# Generate new Tokens (classic)
# Set no expiration (or don't forget to renew it)
# Add scope "read:packages"
# Add NPMRC_TOKEN to env variables